.flatpickr-input {
display: block;
width: 170px;
height: 30px;
padding-left: 30px;
border: 1.8px solid rgba(2, 57, 102, 0.423);
border-radius: 6px;
}

.button {
display: block;
margin-top: 10px;
width: 170px;
height: 30px;
border: 1.8px solid rgba(2, 57, 102, 0.423);
border-radius: 6px;
}

.timer {
display: flex;
flex-wrap: wrap;
width: 200px;
margin-top: 10px;
}

.field {
display: flex;
width: 80px;
height: 50px;
flex-direction: column;
margin-right: 10px;
margin-bottom: 10px;
/* justify-content: center; */
align-items: center;
font-size: 15px;
color: rgba(2, 57, 102, 0.555);
border: 1.8px solid rgba(2, 57, 102, 0.423);
border-radius: 9px;
background: radial-gradient(rgba(0, 166, 255, 0.123), rgba(2, 93, 121, 0.269));
}



